// Define variables for your color scheme

// For example:
$red: #9E2B25;
$blue: #37718E;
$yellow: #ECA72C;
$orange: #EE5622;
$green: #91CB3E;
$gray: #999799;
$light-gray: #ADCAD6;
$white: #FFFFFF;
$semi-transparent-black: rgba(0,0,0,0.6);
$transparent-black: rgba(0,0,0,0.07);
$very-transparent-black: rgba(0,0,0,0.03);
